name: Build for Windows

on:
  push:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Node.js 12
        uses: actions/setup-node@master
        with:
          node-version: '12.x'
          registry-url: 'https://npm.pkg.github.com'

      # Setup MSVC Development Environment
      - name: Setup MSVC Development Environment
        uses: TheMrMilchmann/setup-msvc-dev@v3.0.0
        with:
          arch: x64                  
          uwp: true

      - name: Install Visual Studio 2022
        run: choco install visualstudio2022buildtools-preview --pre 
      - name: Install Visual Studio 2022 Workloads
        shell: powershell
        run: ./vs2017.ps1
      
      # Install dependencies and update manifest file
      - name: Install dependencies and update manifest file
        run: |
          wget -O deps-x64.7z https://github.com/stenzek/duckstation-ext-qt-minimal/releases/download/latest/deps-x64.7z
          7z x deps-x64.7z -o"dep/msvc"
          $version = "1.0.0.0"
          $manifest = "src/duckstation-uwp/Package.appxmanifest"
          $content = Get-Content $manifest
          $content -replace '(?<=<Identity Name=")([^"]+)(?=" Version="[^"]+")', $version | Set-Content $manifest
        shell: pwsh

      # Use DuckStation PFX
      - name: Use DuckStation PFX
        run: echo "${{ secrets.DUCKSTATION_PFX }}" > duckstation-uwp_TemporaryKey.pfx

      # Build DuckStation x64
      - name: Build DuckStation x64
        run: msbuild duckstation.sln /t:Build /p:Configuration=ReleaseUWP /p:Platform=x64   

      # Sign UWP package
      - name: Sign UWP package
        run: |
          "C:\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x64\SignTool.exe" sign /fd SHA256 /f duckstation-uwp_TemporaryKey.pfx /p ${{ secrets.PFX_PASSWORD }} /t http://timestamp.digicert.com/ /v *.appx

      # Upload UWP package as artifact
      - name: Upload UWP package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: DuckStation-UWP
