name: Build dhewm3 64-bit

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y git cmake build-essential libsdl2-dev libopenal-dev zlib1g-dev libcurl4-openssl-dev

    - name: Clone dhewm3 repository
      run: git clone https://github.com/dhewm/dhewm3.git
      # Change to dhewm3 directory
      working-directory: dhewm3

    - name: Create build directory
      run: mkdir build
      # Change to build directory
      working-directory: dhewm3/build

    - name: Configure with CMake
      run: cmake ..

    - name: Compile dhewm3
      run: make -j8
