name: "Dotenv Loader"

on:
  workflow_dispatch:

jobs:
  load-env:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Load environment variables
        uses: ./.github/actions/dotenv-action
        with:
          path: your_environment_file.env
          export-variables: true
