name: Project Specific Workflow

on:
  push:
    branches: [uwp]
  pull_request:
    branches: [uwp]
  workflow_dispatch:
    inputs:
      build-and-verify:
        description: 'Do a build and verify'
        required: true
        default: 'true'    

jobs:
  EnvSetup:
    name: Setup Dynamic Environment Variables
    runs-on: windows-latest
    outputs:
      build-and-verify: ${{ steps.set-output-defaults.outputs.build-and-verify }}
    steps:
      - name: Set outputs with default values
        id: set-output-defaults
        run: |    
          echo "::set-output name=build-and-verify::${{ github.event.inputs.build-and-verify || 'true' }}"
      
      - name: Load environment variables
        run: |
          echo "APPX_BUNDLE=${{ vars.APPX_BUNDLE }}" >> $GITHUB_ENV
          echo "BUILD_MODE=${{ vars.BUILD_MODE }}" >> $GITHUB_ENV
          echo "CONFIGURATION=${{ vars.CONFIGURATION }}" >> $GITHUB_ENV
          echo "NUGET_VERSION=${{ vars.NUGET_VERSION }}" >> $GITHUB_ENV
          echo "PACKAGE_OUTPUT_BASE_NAME=${{ vars.PACKAGE_OUTPUT_BASE_NAME }}" >> $GITHUB_ENV
          echo "PACKAGE_OUTPUT_DIR=${{ vars.PACKAGE_OUTPUT_DIR }}" >> $GITHUB_ENV
          echo "PACKAGE_OUTPUT_ROOT_DIR=${{ vars.PACKAGE_OUTPUT_ROOT_DIR }}" >> $GITHUB_ENV
          echo "PLATFORM=${{ vars.PLATFORM }}" >> $GITHUB_ENV
          echo "PROJECT_DIRECTORY=${{ vars.PROJECT_DIRECTORY }}" >> $GITHUB_ENV
          echo "PROJECT_PATH=${{ vars.PROJECT_PATH }}" >> $GITHUB_ENV
          echo "SIGNING_CERTIFICATE=${{ vars.SIGNING_CERTIFICATE }}" >> $GITHUB_ENV
          echo "SOLUTION_PATH=${{ vars.SOLUTION_PATH }}" >> $GITHUB_ENV

  invoke-workflow:
    needs: [EnvSetup]
    uses: .github/workflows/Duck-Building.yaml@uwp
    with:
      build-and-verify: ${{ needs.EnvSetup.outputs.build-and-verify }}
    secrets:
      token: "${{ secrets.MY_GITHUB_TOKEN }}"
