name: Clone and Run Script

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        repository: izzy2fancy/AM2R-Autopatcher-Android  # Replace 'owner/repo-name' with the repository you want to clone
        ref: main  # Replace 'main' with the branch you want to clone

    - name: Run Script
      run: |
        cd main
        bash patcher.sh
